<h2>Student Dashboard</h2>

<ul>

	<li>
		<a asp-controller="StudentDashboard" asp-action="Profile">
			View Profile
		</a>
	</li>

	<li>
		<a asp-controller="StudentDashboard" asp-action="Course">
			View Course
		</a>
	</li>

</ul>