@model List<Product>

<div class="row">

    <!-- LEFT CATEGORY -->
    <div class="col-3">
        <h4>Categories</h4>
        <ul class="list-group">
            @foreach (var cat in ViewBag.Categories)
            {
                <li class="list-group-item">
                    <a href="/Product/Index?categoryId=@cat.Id">
                        @cat.Name
                    </a>
                </li>
            }
        </ul>
    </div>

    <!-- PRODUCTS -->
    <div class="col-9">
        <div class="row">
            @foreach (var product in Model)
            {
                <div class="col-4">
                    <div class="card mb-3">
                        <img src="@product.ImageUrl" class="card-img-top" height="150" />
                        <div class="card-body">
                            <h5>@product.Name</h5>
                            <p>₹ @product.Price</p>
                            <a href="/Cart/AddToCart/@product.Id" class="btn btn-primary">
                                Add To Cart
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

</div>